<!--Examples component-->
<span class="badge badge--primary">10% Off</span>
<span class="badge badge--secondary">10% Off</span>
<span class="badge badge--primary badge--small">10% Off</span>

<!--CSS-->

<!--
    .badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1204px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
-->
