<div style="width: 30%">
  <div class="card card--primary">
    <header class="card__header">Card Tittle</header>
    <div class="card__body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, culpa
      aut. Tempora possimus enim non velit ipsam quae porro omnis.
    </div>
  </div>
</div>

<div class="card card--secondary">
  <header class="card__header">Card Tittle</header>
  <div class="card__body">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, culpa
    aut. Tempora possimus enim non velit ipsam quae porro omnis.
  </div>
</div>

<!--CSS-->

<!--/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}
-->
