<section class="block">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni iure
      dolorem iste quidem alias a recusandae quia soluta maiores ex.
    </p>
  </header>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni iure
        dolorem iste quidem alias a recusandae quia soluta maiores ex.
      </p>
    </header>
  </div>
</section>

<!--
      CSS

    .block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

/-->
<!--    *********************
        General Classes 
        *********************
        *added at this point* 
        
.container {
  max-width: 1140px;
  margin: 0 auto;
}
  -->
