<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias saepe
        nemo perferendis quisquam sunt excepturi dignissimos nisi aspernatur,
        voluptatum vel.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>

<!-- CSS

    .callout {
  padding: 4rem;
  border-radius: 5px;
}
.callout--primary {
  background: var(--color-primary);
  color: white;
}
.callout__heading {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

/*we created an specific btn for the callout {btn--stretched}*/

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}



  -->
