<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Just started</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga
      est consequatur eius autem sunt.
    </p>
  </div>
</div>

<!--CSS-->

<!--
    /*Media Object - Component */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}
-->
