<body style="padding: 5rem">
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="images/testimonial.jpg" alt="A happy, smiling costumer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora a
          harum minima corrupti ea ducimus praesentium, dolorem aperiam at
          distinctio.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__company">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</body>

<!--CSS-->

<!--

    .testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  bottom: -20px;
  left: 1.5%;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
  .testimonial__image > .icon-container {
    position: absolute;
    top: 5%;
    right: -32px;
    left: unset;
  }
}
-->
